body {
    font-family: "Arial";
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.timer {
    margin: 0;
}

.content, .hsScreen, .mark {
    margin: 0 auto;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start
}

.content, .hsScreen {
    display: flex;
}

.coding, .description, .start {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;  
}

.mark {
    display: flexbox;
}

.hsScreen {
    display: none;
}

button {
    border-radius: 10px;
    justify-content: flex-start;
    background-color: indigo;   
    color: white;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(250, 230, 250);
}

.entinit {
    display: inline-flex;
}

ol {
    background-color: rgb(202, 160, 233);
}
