body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 26px;
}

a {
    text-decoration: none;
    color:rgb(204, 134, 253);
}

button {
    border-radius: 10px;
    justify-content: flex-start;
    background-color: indigo;   
    color: white;
    padding: 10px; 
    margin: 10px 0; 
    width: 30%;
    text-align: left;
    font-size: 26px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(243, 76, 207);
}


.header {
    display: flex;
    justify-content: space-between;
    height: 200px;
    font-size: 22px;
}

.timer {
    margin: 0;
}

.content, .hsScreen, .mark {
    margin: 0 auto;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
}

.content h1, .hsScreen h1 {
    font-size: 52px;
}

.content, .hsScreen {
    display: flex;
    flex-wrap: wrap;
}

.coding, .description, .start {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 36px;  
}

.mark {
    display: flexbox;
}

.hsScreen {
    display: none;
}

.init {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.entinit {
    margin: 15px 15px 0 0;
}

.initBox {
    height: 40px;
    margin: 10px 15px 0 0;
    width: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
}

.hsSubmit {
    width: 125px;
    margin: 5px 0 0 10px;
    text-align: center;
}

ol {
    background-color: rgb(202, 160, 233);
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 20px;
    width: 300px;
    text-align: left;
    padding: 10px 0;
    border-bottom: 10px solid white;
}


 .goBack, .clearHs {
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 20px;
 }
